<div id="container" class="container-fluid">
  <div class="row justify-content-center">
    @for (category of AllCategries; track category.id){ @if(category) {
    <div class="card position-relative col-sm-12 col-md-3">
      <a
        routerLink="/productlist/{{ category.name }}"
        class="d-flex justify-content-center"
      >
        <div class="circle2">
          <div id="circle1">
            <img src="{{ category.imageurl }}" alt="" />
          </div>
        </div>
        <div id="square">
          {{ category.name }}
        </div>
      </a>
    </div>
    } }
  </div>

  <!-- remove it -->
  <div class="text-light">{{ cartItems }}</div>
  <!--  -->
</div>
