<section class="image-holder">
  <div class="overlay">
    <img src="assets/images/image-holder-overlay.svg" alt="" />
  </div>
  <div class="text-holder">
    <div class="box">
      <p class="text-light">Best Fancy Food in town</p>
      <p>FINE FLAVORS CHIC DINING – WELCOME TO [Gusteau] .</p>
      <pre class="text-light mt-2">
“ We only use the five star quality for
  our menu, come and get the richness in
every food we serve.”
        </pre
      >
      <button class="btn-primary btn-center" routerLink="/menu">
        Go To Menu
      </button>
    </div>
  </div>
</section>
