<section class="image-holder position-relative" id="contact">
  <div class="overlay">
    <img src="assets/images/image-holder-overlay.svg" alt="" />
  </div>
  <div
    class="footer-holder row position-relative flex-sm-column flex-lg-row align-items-center justify-content-center gap-sm-0 h-100 position-absolute top-50 start-50 form-center"
  >
    <form
      class="form mb-sm-3 mb-lg-0 col-sm-12 col-lg-6"
      (submit)="sendEmail($event)"
      (submit)="restField()"
    >
      <div class="form-box col-lg-10 mx-3 mt-3 p-3">
        <div class="header-text text-center text-sm-start">Get In Touch</div>
        <input name="name" placeholder="Name" type="text" [(ngModel)]="name" />
        <input
          name="email"
          placeholder="Email"
          type="email"
          [(ngModel)]="email"
        />
        <textarea
          name="message"
          placeholder="Content"
          [(ngModel)]="message"
        ></textarea>
        <input id="terms" type="checkbox" /> <label for="terms"></label>
        <span class="fw-bold">I would like to receive the newsletter.</span>
        <button class="btn-primary mt-5" type="submit">Submit</button>
      </div>
    </form>
    <div
      class="footer d-flex flex-column justify-content-center align-items-center col-sm-12 col-lg-5"
    >
      <div class="fw-bold footer-heading-one text-center my-1 mb-sm-5">
        WE ARE READY TO GIVE YOU THE BEST DINNING EXPERIENCE.
      </div>
      <div
        class="d-flex flex-column flex-lg-row address-holder footer-heading-two ms-2"
      >
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-location-dot"></i>
          <p class="mb-2 mb-xl-0">
            Masr ElGdeda, Street Sheraton Elmatar , 35222
          </p>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-phone"></i>
          <p class="mb-0">Call us: +01063403215</p>
        </div>
      </div>
      <div class="mt-5 logo-holder d-none d-sm-block">
        <img src="./assets/images/nav-logo.png" alt="" />
      </div>
      <div
        class="all-social-holder d-flex justify-content-center gap-1 gap-sm-3"
      >
        <div class="facebook social-holder">
          <a
            href="https://github.com/EmanEldeeb/Gusteau-Resturant"
            target="_blank"
          >
            facebook</a
          >
        </div>
        <div class="twitter social-holder">
          <a
            href="https://github.com/EmanEldeeb/Gusteau-Resturant"
            target="_blank"
          >
            twitter</a
          >
        </div>
        <div class="instagram social-holder">
          <a
            href="https://github.com/EmanEldeeb/Gusteau-Resturant"
            target="_blank"
            >instagram</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
