<section>
  <div id="container" class="container-fluid p-sm-0 p-md-5">
    @if(mealDetails) {
    <div class="row justify-content-center align-items-center" id="product">
      <div id="image-holder" class="col-sm-12 col-md-4">
        <img
          id="image-detalis"
          src="{{ mealDetails.imageUrl }}"
          alt="meal image"
        />
      </div>
      <div id="details" class="col-sm-12 col-md">
        <h3>{{ mealDetails.name }}</h3>
        <div id="price">{{ mealDetails.price }} EGP</div>
        <div id="ingradients">
          {{ mealDetails.ingradients }}
        </div>
        <div id="cart" class="d-flex justify-content-between">
          <input
            id="counter"
            type="number"
            value="1"
            min="1"
            [(ngModel)]="quantityValue"
          />
          <!-- <button id="cartBtn" (click)="getValue(myInput.value, mealDetails)">
            <span>ADD TO CART </span>
            <i class="fa-solid fa-cart-shopping"></i>
          </button> -->
          <!-- <button id="cartBtn" (click)="addTOCart()">
            <span>ADD TO CART </span>
            <i class="fa-solid fa-cart-shopping"></i>
          </button> -->
          @if(isAuthenticated){
          <button id="cartBtn" (click)="passToAddTocart(mealDetails)">
            <div role="button">
              <span>ADD TO CART </span>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </button>
          }@else{
          <button id="cartBtn" routerLink="/register">
            <div role="button">
              <span>ADD TO CART </span>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </button>
          }
        </div>
      </div>
    </div>
    }
    <!-- Start main title -->
    <div class="row" style="margin-top: 20px">
      <div class="col-sm-12">
        <div class="menue-title">
          <!-- left shapes -->
          <div class="shapes">
            <span class="shape1 shape-l"></span>
            <span class="shape2 shape-l"></span>
            <span class="shape3 shape-l"></span>
            <span class="shape4 shape-l"></span>
          </div>
          <h1>Related Dishes</h1>
          <!-- right shapes -->
          <div class="shapes">
            <span class="shape5 shape-l"></span>
            <span class="shape6 shape-l"></span>
            <span class="shape7 shape-l"></span>
            <span class="shape8 shape-l"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End main title -->
    <div class="row justify-content-between" id="dishes-sec">
      @for(dish of relatedDishes; track relatedDishes.id) {
      <a
        routerLink="/product/{{ category }}/{{ dish.id }}"
        id="relatedDishis"
        class="col-sm-12 col-md-3 text-center"
      >
        <div>
          <img id="image" src="{{ dish.imageUrl }}" alt="" />
        </div>
        <div id="mealInfo">
          <h5>{{ dish.name }}</h5>
          <p>{{ dish.price }} EGP</p>
        </div>
      </a>
      }
    </div>
  </div>
</section>
