<section class="about-holder position-relative text-light overflow-hidden">
  <div class="about-img-holder">
    <img src="assets/images/Image_Divider.svg" alt="" />
  </div>
  <div class="container">
    <div class="text-holder mt-5">
      <p>About us</p>
      <p>Our Story</p>
      <p>
        A journey for making successful luxury restaurant with the best services
      </p>
    </div>
    <div
      class="about-us-holder d-flex gap-5 justify-content-center align-items-center flex-column flex-xl-row"
    >
      <div class="image-box d-none d-sm-flex">
        <div>
          <img src="assets/images/Mask group.svg" alt="" />
        </div>
        <div class="two-image-box">
          <div>
            <img src="assets/images/Mask group (1).svg" alt="" />
          </div>
          <div>
            <img src="assets/images/Mask group (2).svg" alt="" />
          </div>
        </div>
      </div>
      <div class="about-us-text-holder text-center text-xl-start">
        <div class="mb-3 mb-sm-5">
          Embark on the extraordinary journey of Gusteau Restaurant, where
          passion meets precision to create an unparalleled culinary experience.
          Our story is one of relentless dedication to crafting a luxury haven,
          where each dish is a masterpiece and every detail reflects our
          commitment to excellence. From the artfully curated menu to the
          seamless service.
        </div>
        <div class="mb-5">
          Gusteau is a culmination of a vision to redefine fine dining. Join us
          on this gastronomic adventure, where success is measured in the
          delighted smiles of our patrons and the unforgettable moments etched
          in the tapestry of Gusteau's legacy. Welcome to a destination where
          culinary dreams come to life, and every visit is a celebration of
          exceptional taste and service.
        </div>
        <div
          class="d-sm-flex justify-content-sm-center align-items-sm-center justify-content-xl-start align-items-xl-start mb-sm-3"
        >
          <div class="btn-primary" routerLink="/aboutus">More about us</div>
        </div>
      </div>
    </div>
  </div>
</section>
