section {
  position: relative;
  z-index: 3;
}
.about-img-holder,
.about-img-holder img {
  width: 100%;
}
@media (max-width: 480px) {
  .about-us-text-holder * {
    font-size: 1rem;
  }
}
.btn-primary {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
@media (max-width: 992px) {
  .btn-primary {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    margin-bottom: 2rem;
  }
}
.about-us-text-holder {
  font-size: 1.2rem;
}
