section {
  position: relative;
  z-index: 3;
}

.specialities-image-holder img {
  width: 100%;
}
.image-holder img {
  width: 100%;
}
.meals-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.meals-holder .our-specialities-holder {
  width: 100%;
  cursor: pointer;
}

.meals-holder * {
  margin-right: 2rem;
}
@media (max-width: 992px) {
  .meals-holder * {
    margin-right: 0;
  }
}
.meals-holder :nth-child(even) {
  flex-direction: row-reverse !important;
}

.sec-text-holder :nth-child(1) {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
}
.sec-text-holder :nth-child(2) {
  font-family: var(--font-primary);
}

.overlay-holder {
  position: relative;
  background-image: url("../../../../assets/images/Rectangle\ 37.svg");
  height: 20rem;
  overflow: hidden;
}
.img-holder .speical-fetch-img {
  position: absolute;
  z-index: -1;
  width: 70%;
}
@media (max-width: 1201px) {
  .img-holder .speical-fetch-img {
    width: 100%;
  }
}
