<nav class="navbar navbar-expand-lg bg-body-tertiary px-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="../../assets/images/gusteau-resturant-high-resolution-logo-transparent (1) 1.svg"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">MENU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">CATEGORY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item searchList d-flex align-items-center">
          <input
            type="text"
            name=""
            id=""
            class="form-input search"
            placeholder=" Search..."
          />
        </li>
        <li class="nav-item">
          @if(isAuthenticated){
          <a class="nav-link" routerLink="/cart"
            ><i class="fa-solid fa-cart-shopping"></i></a
          >} @else{
          <a class="nav-link" routerLink="/login"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
          }
        </li>
        <li class="nav-item">
          @if(isAuthenticated){
          <a class="nav-link" (click)="signOut()">signout</a>} @else{
          <a class="nav-link" routerLink="/login">login</a>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>
