<nav class="navbar navbar-expand-lg bg-body-tertiary px-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="assets/images/gusteau-resturant-high-resolution-logo-transparent (1) 1.svg"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">MENU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">CATEGORY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">CONTACT</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item searchList d-flex align-items-center">
          <input
            type="text"
            name=""
            id=""
            class="form-input search"
            placeholder=" Search..."
            (keyup)="search()"
            [(ngModel)]="searchInput"
          />
        </li>
        <li class="nav-item">
          @if(isAuthenticated){
          <a class="nav-link" routerLink="/cart"
            ><i class="fa-solid fa-cart-shopping"></i></a
          >} @else{
          <a class="nav-link" routerLink="/login"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
          }
        </li>
        <li class="nav-item">
          @if(isAuthenticated){
          <!-- <a class="nav-link" (click)="signOut()">signout</a>} -->
          <!-- <span>{{ userName }}</span> -->
          <!-- problem to be solved -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="signOut()">
              {{ userName }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" (click)="signOut()">signout</a></li>

            </ul>
          </li>



          } @else{
          <a class="nav-link" routerLink="/login">login</a>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>
@if(searchInput && targetMeals.length>0){
 
  <div class="search-result" [class.hide]="activesearch">
    <div class="row" >
<div class="text-end"  (click)="close()">      <i class="fa-solid fa-xmark  close text-end fs-5 close-btn"  role="button" ></i></div>
      @for (meal of targetMeals; track meal.name) {
      
        <div class="col-md-4" >
        <div  role="button"  routerLink="/product/{{ meal.category }}/{{ meal.id }}" (click)="close()">{{meal.name}}</div>
       
        </div>
      }
  
  
    </div>
  </div>
}@else if(searchInput && targetMeals.length==0){
  <div class="search-result" [class.hide]="activesearch">
    <div class="text-end" (click)="close()"  > <i class="fa-solid fa-xmark   fs-5  close-btn"  role="button" ></i></div>
    <p  class="fs-5 text-center ">NOT FOUND</p>
  </div>
 
}
