.pattern {
  background-image: url("../../assets/images/Asset\ 1\ 1.svg");
  background-size: 700px;
}
.hero-img {
  background-image: url("../../assets/images/loginhero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 690px;
}
