<section>
  <div id="container" class="container-fluid">
    @if(isAdd){
    <div class="text-end position-relative">
      <span class="cart-alert position-absolute top-0 end-0"
        >added to cart</span
      >
    </div>
    }
    <h2>{{ categoryName }}</h2>
    <div class="row justify-content-center">
      <div id="filter" class="row my-3">
        <form
          (change)="applyFilter()"
          id="priceFilter"
          name="form"
          class="d-sm-flex flex-sm-column flex-md-row justify-content-md-around align-items-center"
        >
          <h4>Price</h4>
          <div class="d-flex align-items-center justify-content-around">
            <label for="min">Min</label>
            <input
              name="min"
              id="min"
              type="range"
              placeholder="Min Price"
              [(ngModel)]="minPrice"
              step="10"
              min="0"
              max="500"
            />
            <span>{{ minPrice }}</span>
          </div>
          <div class="d-flex align-items-center justify-content-around">
            <label for="max">Max</label>
            <input
              name="max"
              id="max"
              type="range"
              placeholder="Max Price"
              [(ngModel)]="maxPrice"
              value="maxPrice"
              step="10"
              min="100"
              max="500"
            />
            <span>{{ maxPrice }}</span>
          </div>
        </form>
      </div>
      <div class="row">
        @for (product of products; track product.id){
        <div
          class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 position-relative"
        >
          <div
            routerLink="/product/{{ categoryName }}/{{ product.id }}"
            class="h-100"
          >
            <div id="circle1">
              <img src="{{ product.imageUrl }}" alt="product Image" />
            </div>
            <div id="square">
              <div id="details">
                <div>
                  <div>
                    <a> {{ product.name }}</a>
                  </div>
                  <div id="price">{{ product.price }} EGP</div>
                </div>
              </div>
            </div>
          </div>
          @if(isAuthenticated) {
          <div id="icon-holder" (click)="passToAddTocart(product)">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
          }@else{
          <div id="icon-holder" routerLink="/register">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</section>
