* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #c9ab81;
  font-size: 18px;
  cursor: pointer;
}
#container {
  min-height: 100vh;
  background-color: #0b1315;
  padding: 30px;
  color: #c9ab81;
  font-family: "DM Serif Display";
}
h2 {
  padding: 20px;
}
#filter {
  margin-top: 20px;
}
#priceFilter {
  margin: 20px 0 40px;
  box-shadow: 0 0 1px 1px #c9ab81;
  text-align: center;
  padding: 5px 0;
}
#priceFilter h4 {
  padding: 10px;
  margin: 0;
}
#priceFilter input {
  padding: 2px;
  margin: 3px;
  width: 150px;
}
.card {
  height: 200px;
  background-color: transparent;
  padding: 0 20px;
  border: none;
  margin: 50px 0;
}
#square {
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: #c9ab81;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px;
  background-color: #222125;
}
#details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}
#circle1 {
  position: absolute;
  margin-top: -60px;
  margin-left: -5px;
  border-radius: 50%;
}
img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
#icon-holder {
  background-color: #5c5c64;
  opacity: 40%;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 30px;
  color: #eee;
}
@media screen and (max-width: 768px) {
  #circle1 {
    margin-top: -50px;
    margin-left: 70px;
  }
  a {
    font-size: 16px;
  }
  #price {
    font-size: 16px;
  }
}
